html {
    min-height: 100%;
    background-color: grey;
    display: flex;
}

body {
    flex: 1;
    display: flex;
    margin: 0;
}

#root {
    flex: 1;
}

span {
    background-color: rgba(255, 0, 0, 0.1);
    height: 200px;
    width: 200px;
}
